{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}
<h1 class="text-center"> Bienvenue chez Nicomak</h1>

<h2 class="text-success text-center"> Application développée par Ibtissem</h2>


{% endblock %}
